<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Sanos y Peludos - Aviso Legal</title>
		<meta charset="UTF-8">
		<meta name="description" content="Página de venta de pastelería canina, un mundo saludable para tu peludo">
		<meta name="robots" content="index,follow">
		<meta name="Author" content="Andrea González">
		<meta name="locality" content="España">
		<meta name="revisit-after" content="7 days">
		<meta name="category" content="Pastelería canina">
		<link rel="icon" type="image/png" href="../Favicon.png">
		<link rel="stylesheet" href="../CSS/estilos.css">
	</head>
	<body>
		<header>
			<img src="../assets/imagenes/Logotipo.png" alt="Logotipo de Sanos y Peludos" class="Logo"
			width="759" height="303">
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./presupuesto.html">Presupuesto</a></li>
                    <li><a href="./contacto.html">Contáctenos</a></li>
                </ul>
            </nav>
		</header>
		<main>
			<h2>Aviso Legal</h2>
			<p>En cumplimiento del artículo 10 de la Ley 34 / 2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico, el Titular expone sus datos identificativos.<br>
				Titular: Sanos y Peludos.<br> Registro mercantil: 123456.<br> NIF: 1234567M<br> Domicilio: CL Valencia, 79-81, BARCELONA, 08029.<br> Correo electrónico: sanosypeludos@gmail.com</p>
			<p>	Condiciones de Uso<br> La utilización del sitio Web le otorga la condición de Usuario, e implica la aceptación completa de todas las cláusulas y condiciones de uso incluidas en las páginas:<br>
				Política de Privacidad<br>
				Política de Cookies<br>
				Si no estuviera conforme con todas y cada una de estas cláusulas y condiciones absténgase de utilizar este sitio Web.<br>
				El acceso a este sitio Web no supone, en modo alguno, el inicio de una relación comercial con el Titular.<br>
				A través de este sitio Web, el Titular le facilita el acceso y la utilización de diversos contenidos que el Titular o sus colaboradores han publicadon por medio de Internet.<br>
				A tal efecto, usted está obligado y comprometido a NO utilizar cualquiera de los contenidos del sitio Web con fines o efectos ilícitos, prohibidos en este Aviso Legal o por la legislación vigente, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los contenidos, los equipos informáticos o los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático propios o contratados por el Titular, de otros usuarios o de cualquier usuario de Internet.<br>
				
				Comentarios<br> 
				El Titular se reserva el derecho de retirar todos aquellos comentarios que vulneren la legislación vigente, lesivos de los derechos o intereses de terceros, o que, a su juicio, no resulten adecuados para su publicación.<br>
				
				El Titular no será responsable de las opiniones vertidas por los usuarios a través del sistema de comentarios, redes sociales u otras herramientas de participación, conforme a lo previsto en la normativa de aplicación.<br>
				
				Medidas de seguridad<br>
				Los datos personales que facilite al Titular pueden ser almacenados en bases de datos automatizadas o no, cuya titularidad corresponde en exclusiva a el Titular, que asume todas las medidas de índole técnica, organizativa y de seguridad que garantizan la confidencialidad, integridad y calidad de la información contenida en las mismas de acuerdo con lo establecido en la normativa vigente en protección de datos.<br>
				
				No obstante, debe ser consciente de que las medidas de seguridad de los sistemas informáticos en Internet no son enteramente fiables y que, por tanto el Titular no puede garantizar la inexistencia de virus u otros elementos que puedan producir alteraciones en los sistemas informáticos (software y hardware) del Usuario o en sus documentos electrónicos y ficheros contenidos en los mismos aunque el Titular pone todos los medios necesarios y toma las medidas de seguridad oportunas para evitar la presencia de estos elementos dañinos.<br>
				
				Datos personales<br>
				Usted puede consultar toda la información relativa al tratamiento de datos personales que recoge el Titular en la página de la Política de Privacidad.<br>
				
				Contenidos<br>
				El Titular ha obtenido la información, el contenido multimedia y los materiales incluidos en el sitio Web de fuentes que considera fiables, pero, si bien ha tomado todas las medidas razonables para asegurar que la información contenida es correcta, el Titular no garantiza que sea exacta, completa o actualizada. El Titular declina expresamente cualquier responsabilidad por error u omisión en la información contenida en las páginas de este sitio Web.<br>
				
				Queda prohibido transmitir o enviar a través del sitio Web cualquier contenido ilegal o ilícito, virus informáticos, o mensajes que, en general, afecten o violen derechos de el Titular o de terceros.<br>
				
				Los contenidos del Sitio Web tienen únicamente una finalidad informativa y bajo ninguna circunstancia deben usarse ni considerarse como oferta de venta, solicitud de una oferta de compra ni recomendación para realizar cualquier otra operación, salvo que así se indique expresamente.<br>
				
				El Titular se reserva el derecho a modificar, suspender, cancelar o restringir el contenido del Sitio Web, los vínculos o la información obtenida a través del sitio Web, sin necesidad de previo aviso.<br>
				
				El Titular no es responsable de los daños y perjuicios que pudieran derivarse de la utilización de la información del sitio Web o de la contenida en las redes sociales del Titular.<br>
				
				Política de cookies<br>
				En la página Política de Cookies puede consultar toda la información relativa a la política de recogida y tratamiento de las cookies.<br>
				
				El Titular sólo obtiene y conserva la siguiente información acerca de los visitantes del Sitio Web:<br>
				
				El nombre de dominio del proveedor (PSI) y/o dirección IP que les da acceso a la red.<br>
				La fecha y hora de acceso al sitio Web.<br>
				La dirección de Internet origen del enlace que dirige al sitio Web.<br>
				El número de visitantes diarios de cada sección.<br>
				La información obtenida es totalmente anónima, y en ningún caso puede ser asociada a un Usuario concreto e identificado.<br>
				Enlaces de interés a otros sitios Web<br>
				El Titular puede proporcionarle acceso a sitios Web de terceros mediante enlaces con la finalidad de informar sobre la existencia de otras fuentes de información en Internet en las que podrá ampliar los datos ofrecidos en el sitio Web.<br>
				
				Estos enlaces a otros sitios Web no suponen en ningún caso una sugerencia o recomendación para que usted visite las páginas web de destino, que están fuera del control del Titular, por lo que Titular no es responsable del contenido de los sitios web vinculados ni del resultado que obtenga al seguir los enlaces.<br>
				
				Asimismo, el Titular no responde de los links o enlaces ubicados en los sitios web vinculados a los que le proporciona acceso.<br>
				
				El establecimiento del enlace no implica en ningún caso la existencia de relaciones entre Titular y el propietario del sitio en el que se establezca el enlace, ni la aceptación o aprobación por parte del Titular de sus contenidos o servicios.<br>
				
				Si accede a un sitio Web externo desde un enlace que encuentre en el Sitio Web usted deberá leer la propia política de privacidad del otro sitio web que puede ser diferente de la de este sitio Web.<br>
				
				Enlaces de Afiliados y anuncios patrocinados<br>
				El sitio Web ofrece contenidos patrocinados, anuncios y/o enlaces de afiliados.<br>
				
				La información que aparece en estos enlaces de afiliados o los anuncios insertados, son facilitados por los propios anunciantes, por lo que Titular no se hace responsable de posibles inexactitudes o errores que pudieran contener los anuncios, ni garantiza en modo alguno la experiencia, integridad o responsabilidad de los anunciantes o la calidad de sus productos y/o servicios.<br>
				
				Jurisdicción<br>
				Este Aviso Legal se rige íntegramente por la legislación española.<br>
				
				Siempre que no haya una norma que obligue a otra cosa, para cuantas cuestiones se susciten sobre la interpretación, aplicación y cumplimiento de este Aviso Legal, así como de las reclamaciones que puedan derivarse de su uso, las partes acuerdan someterse a los Jueces y Tribunales de la provincia de Cataluña, con renuncia expresa de cualquier otra jurisdicción que pudiera corresponderles.<br>
				
				Contacto<br>
				En caso de que usted tenga cualquier duda acerca de estas Condiciones legales o quiera realizar cualquier comentario sobre este sitio Web, puede enviar un mensaje de correo electrónico a la dirección correo electrónico.<br>
				
						
			</p>
		</main>
		<footer>
			<p>Encuéntranos en</p>

			<nav>
				<a href="https://www.facebook.com/"><img src="../assets/imagenes/facebook.png" alt="Facebook" class="img_piepagina"></a></li>
				<a href="https://www.instagram.com/"><img src="../assets/imagenes/instagram.jpeg" alt="Instagram" class="img_piepagina"></a></li>
				<a href="https://www.whatsapp.com/?lang=es_LA"><img src="../assets/imagenes/Whatsapp.png" alt="Whatsapp" class="img_piepagina"></a></li>
			</nav>
			<p>Dirección: CL Valencia, 79-81, BARCELONA, 08029</p>	

			<nav><a href="#">Aviso Legal</a> </nav>
			<p>&copy; Todos los derechos reservados</p>

		</footer>
	
	</body>
</html>


