<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Sanos y Peludos - Contáctenos</title>
		<meta charset="UTF-8">
		<meta name="description" content="Página de venta de pastelería canina, un mundo saludable para tu peludo">
		<meta name="robots" content="index,follow">
		<meta name="Author" content="Andrea González">
		<meta name="locality" content="España">
		<meta name="revisit-after" content="7 days">
		<meta name="category" content="Pastelería canina">
		<link rel="icon" type="image/png" href="../Favicon.png">
		<link rel="stylesheet" href="../CSS/estilos.css">
	</head>
	<body>
		<header>
			<img src="../assets/imagenes/Logotipo.png" alt="Logotipo de Sanos y Peludos" class="Logo"
			width="759" height="303">
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./presupuesto.html">Presupuesto</a></li>
                    <li><a class="active" href="#">Contáctenos</a></li>
                </ul>
            </nav>
		</header>
		<main class="main_contacto">
			<h2>Si quieres conocer nuestras intalaciones y conocer un poco más sobre nosotros... 
				¡Puedes visitarnos!</h2>
			
			<div class="contact1">
				<img src="../assets/imagenes/Mapa.png" alt="Mapa ubicación" class="mapa">
				<ul class="lista_contacto">
					<li>Dirección: CL Valencia, 79-81, BARCELONA, 08029</li>
					<li>Teléfono: 692 55 55 55</li>
					<li>Horario: Lunes a Viernes de 9:00 a 14:00</li>
					<li>Email: sanosypeludos@gmail.com</li>
				</ul>
			</div>
		</main>
		<footer>
			<p>Encuéntranos en</p>

			<nav>
				<a href="https://www.facebook.com/"><img src="../assets/imagenes/facebook.png" alt="Facebook" class="img_piepagina"></a></li>
				<a href="https://www.instagram.com/"><img src="../assets/imagenes/instagram.jpeg" alt="Instagram" class="img_piepagina"></a></li>
				<a href="https://www.whatsapp.com/?lang=es_LA"><img src="../assets/imagenes/Whatsapp.png" alt="Whatsapp" class="img_piepagina"></a></li>
			</nav>
			<p>Dirección: CL Valencia, 79-81, BARCELONA, 08029</p>	

			<nav><a href="../views/avisolegal.html">Aviso Legal</a> </nav>
			<p>&copy; Todos los derechos reservados</p>

		</footer>
	
	</body>
</html>