<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Sanos y Peludos - Productos</title>
		<meta charset="UTF-8">
		<meta name="description" content="Página de venta de pastelería canina, un mundo saludable para tu peludo">
		<meta name="robots" content="index,follow">
		<meta name="Author" content="Andrea González">
		<meta name="locality" content="España">
		<meta name="revisit-after" content="7 days">
		<meta name="category" content="Pastelería canina">
		<link rel="icon" type="image/png" href="../Favicon.png">
		<link rel="stylesheet" href="../CSS/estilos.css">
	</head>
	<body>
		<header>
			<img src="../assets/imagenes/Logotipo.png" alt="Logotipo de Sanos y Peludos" class="Logo"
			width="759" height="303">
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a class="active" href="#">Productos</a></li>
                    <li><a href="./presupuesto.html">Presupuesto</a></li>
                    <li><a href="./contacto.html">Contáctenos</a></li>
                </ul>
            </nav>
		</header>
		<main>
			<div class="descripcion_productos">
				<section class="ingredientes">
					<h2>Nuestros productos</h2>
					<p>
					Todos nuestros productos son realizados de forma artesanal y sin uso de conservantes lo cual garantizamos
					que nuestros peludos recibirán todos los nutrientes que necesitan para su día a día.<br>
					Dentro de nuestros productos descatamos el uso de:
					</p>
					<ul>
                    	<li>Yogurt griego</li>
                    	<li>Harina de avena</li>
                    	<li>Hígado de pollo</li>
                    	<li>Carne de res</li>
						<li>Remolacha</li>
						<li>Zanahoria</li>
						<li>Banano</li>
						<li>Y muchos más!</li>
            		</ul>
				</section>
			</div>
			<section class="seccion_productos">
				<h2>Tortas</h2>
				<div class="div_tortas">
					<img src="../assets/imagenes/Torta1.png" alt="Imagenes de tortas" width="234" height="212" class="img_productos">
					<img src="../assets/imagenes/Bestsellers1.png" alt="Imagenes de tortas" width="225" height="222" class="img_productos">
					<img src="../assets/imagenes/Torta2.jpeg" alt="Imagenes de tortas" width="225" height="225" class="img_productos">
					<img src="../assets/imagenes/Bestsellers2.png" alt="Imagenes de tortas" width="264" height="174" class="img_productos">
					<img src="../assets/imagenes/Torta3.jpeg" alt="Imagenes de tortas" width="275" height="183" class="img_productos">
					<img src="../assets/imagenes/Bestsellers8.png" alt="Imagenes de tortas" width="208" height="187" class="img_productos">
					<img src="../assets/imagenes/Torta4.jpeg" alt="Imagenes de tortas" width="293" height="172" class="img_productos">
					<img src="../assets/imagenes/Torta5.jpeg" alt="Imagenes de tortas" width="197" height="255" class="img_productos">
				</div>
				
				<h2>Donuts y Galletas</h2>
				<div class="div_donuts">
					<img src="../assets/imagenes/Donut1.jpeg" alt="Imagenes de donuts" width="225" height="224" class="img_productos">
					<img src="../assets/imagenes/Bestsellers4.png" alt="Imagenes de donuts" width="265" height="188" class="img_productos">
					<img src="../assets/imagenes/Donut2.jpeg" alt="Imagenes de donuts" width="194" height="259" class="img_productos">
					<img src="../assets/imagenes/Bestsellers5.png" alt="Imagenes de donuts" width="296" height="170" class="img_productos">
				</div>

				<h2>Muffins</h2>
				<div class="div_muffins">
					<img src="../assets/imagenes/Muffin1.jpeg" alt="Imagenes de Muffins" width="299" height="168" class="img_productos">
					<img src="../assets/imagenes/Bestsellers3.png" alt="Imagenes de Muffins" width="276" height="182" class="img_productos">
					<img src="../assets/imagenes/Muffin2.jpeg" alt="Imagenes de Muffins" width="220" height="230" class="img_productos">
					<img src="../assets/imagenes/Bestsellers6.png" alt="Imagenes de Muffins" width="221" height="224" class="img_productos">
					<img src="../assets/imagenes/Muffin3.jpeg" alt="Imagenes de Muffins" width="277" height="182" class="img_productos">
					<img src="../assets/imagenes/Bestsellers7.png" alt="Imagenes de Muffins" width="217" height="167" class="img_productos">
					<img src="../assets/imagenes/Muffin4.jpeg" alt="Imagenes de Muffins" width="241" height="209" class="img_productos">
					<img src="../assets/imagenes/Muffin5.jpeg" alt="Imagenes de Muffins" width="264" height="191" class="img_productos">
				</div>
			</section>
		</main>
		<footer>
			<p>Encuéntranos en</p>

			<nav>
				<a href="https://www.facebook.com/"><img src="../assets/imagenes/facebook.png" alt="Facebook" class="img_piepagina"></a>
				<a href="https://www.instagram.com/"><img src="../assets/imagenes/instagram.jpeg" alt="Instagram" class="img_piepagina"></a>
				<a href="https://www.whatsapp.com/?lang=es_LA"><img src="../assets/imagenes/Whatsapp.png" alt="Whatsapp" class="img_piepagina"></a>
			</nav>
			<p>Dirección: CL Valencia, 79-81, BARCELONA, 08029</p>	

			<nav><a href="../views/avisolegal.html">Aviso Legal</a> </nav>
			<p>&copy; Todos los derechos reservados</p>

		</footer>
	
	</body>
</html>
